@page "/GoogleChartsDemo"
@inject IJSRuntime JsRuntime
@inject HttpClient Http

<title>Meteorite</title>

<div class="container bg-white mx-auto text-center p-5">
    <div class="display-6">Google Charts Demo</div>
</div>

<body>
    <!-- this is where the Google Chart is displayed -->
    <div id="pie_chart" style="height: 400px; margin:0 auto;"></div>
</body>

@code{
    private void PlotData(double[] xs, double[] ys)
    {
        // This function calls a JavaScript function to update the chart.
        // Notice how multiple parameters are passed in.
        JsRuntime.InvokeVoidAsync("initChart", new { xs, ys });
    }
}