@page "/GoogleChartsDemo"
@inject IJSRuntime JsRuntime

<title>Meteorite</title>

<div class="container bg-white mx-auto text-center p-5">
    <div class="display-6">Google Charts to display Data</div>
</div>

<body>
    <div class="container bg-white mx-auto text-center p-5" style="width:800px; margin:0 auto;">
    
        <div id="pie_chart" style="width: 900px; height: 300px;"></div>

    </div>
</body>

@code{
    protected override void OnInitialized()
    {
        // Test Comment
        JsRuntime.InvokeVoidAsync("drawChart");
    }
}