@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome</h1>

<p>
    The following is a web application using Blazor, hosted via github pages.
<br>This application is intended to demonstrate web app capabilities dashboarding data and delivering project work via a perosolised web app.
<br><i>Please contact kristian.care for more information.</i>
</p>

<SurveyPrompt Title="How is Blazor working for you?" />
